{
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module",
        ecmaFeatures: {
            jsx: true
        }
    },
    "rules": {
        "semi": 2,
        "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }]
    }
}
